*.old
*.log
*.zwc
zsh/vendor/*
mutt/imap.rc
vim/spellfile*
vim/spell/*
vim/sessions/*
vim/.netrwhist
vim/vimrc.local
vifm/vifminfo
mutt/aliases
mutt/certs
mutt/cache/*
vimperator/info/*
pentadactyl/info/*
vim/.VimballRecord
vim/cache/*
vim/bundle/*
gitconfig
newsbeuter/cache.db
newsbeuter/history.cmdline
newsbeuter/history.search
newsbeuter/queue
ncmpcpp/error.log
weechat/irc.conf
mutt/mutt-colors-solarized/*
